/*UNIVERSAL SELECTOR*/

* {}

/**********************************
GENERAL
**********************************/

.App {
  font-size: 100px;
}

body {
  text-align: center;
}

body {
    background-color: white;
}

body{
  font-size: 10px
}

.title {
  font-size: 1.625em 
}

.primary-content {
  border: 3px solid white;
}

.secondary-content {
  border-top: 2px solid grey;
}

.primary-content, .secondary-content {
  width: 60%;
}

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px blue;
}

.t-border {
  border-top: 2px solid lightgrey;
}

header {
  background-color: red;
}

p {
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}

h1 {
   font-size: 250%
}

p {
  font-size: 100%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("");
   background-attachment: fixed;  
}

#slide1:before {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGGenXn4JXLP5pubM-cN5I1fqQD5xE6hI-Ioorz_btD48Xp3oU");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("http://www.pasedfoundation.org/modules/toc/uploads/images/topics/tid326_appacademyblackgrey_small_cd9a1f78_d833_d36f_u1.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("http://www.pasedfoundation.org/modules/toc/uploads/images/topics/tid326_appacademyblackgrey_small_cd9a1f78_d833_d36f_u1.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;

}

#slide4:before {
  background-image: url("http://www.pasedfoundation.org/modules/toc/uploads/images/topics/tid326_appacademyblackgrey_small_cd9a1f78_d833_d36f_u1.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide5 {
  background: #222;
}

/**********************************
HEADLINE ELEMENTS
**********************************/

h1 {
  font-size: 72px;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
}

/**********************************
COLORS
**********************************/

body {
  color: #878787;
}

#main-header {
  background-color:white;
}

ul li {
  color: white;
  background-color: re;
}

h1 {
  color: black;
}

h3 {
  color: black;
}

/*CSS PSEUDO CLASS*/

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: coral;
}

a:focus {
  color: white;
  background-color: black;
}

